@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #222222;
}

.bg img{
    height: 100vh;
    width: 100%;
    position: absolute;
    justify-content: center;
}

.navbar{
    display:flex ;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 40px;
}

.navbar a{
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 50px;
    font-size: 17px;
    color: black;
    display: inline-block;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.hello {
    color: white;
    margin-top: 300px;
    display:flex ;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    position: relative;
}

.jay{
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    position: relative;
    font-family: 'AR One Sans', sans-serif;
}

/* education */

/* 1st */

.eduction-title{
    margin-left: 140px;
    font-size: 30px;
    margin-top: 540px;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  
  .ed1{
      border-radius: 10px;
      width: 560px;
      height: 210px;
      background-color: #333333;
      margin-left: 140px;
      margin-top: 40px;
  }
  
  .ed1-date{
      margin-left: -10px;
  }
  
  .ed1-date svg{
      margin-left: 45px;
      margin-top: 48px;
  }
  
  .ed1-date p{
      color: whitesmoke;
      margin-left: 66px;
      margin-top: -21px;
  }
  
  .ed1-topic{
      color: #afbe5f;
      font-family: 'Roboto', sans-serif;
      margin-top: 20px;
      margin-left: 33px;
  }
  
  .ed1-info{
      color: #818181;
      font-family: 'Montserrat', sans-serif;
      margin-top: 25px;
      margin-left: 33px;
  }
  
  /* 1st */
  
  /* 2nd */
  
  
  .ed2{
      border-radius: 10px;
      width: 560px;
      height: 210px;
      background-color: #333333;
      margin-left: 140px;
      margin-top: 40px;
  }
  
  .ed2-date{
      margin-left: -10px;
  }
  
  .ed2-date svg{
      margin-left: 45px;
      margin-top: 48px;
  }
  
  .ed2-date p{
      color: whitesmoke;
      margin-left: 66px;
      margin-top: -21px;
  }
  
  .ed2-topic{
      color: #afbe5f;
      font-family: 'Roboto', sans-serif;
      margin-top: 20px;
      margin-left: 33px;
  }
  
  .ed2-info{
      color: #818181;
      font-family: 'Montserrat', sans-serif;
      margin-top: 25px;
      margin-left: 33px;
  }
  
  /* 2nd */
  
  /* 3rd */
  
  
  .ed3{
      border-radius: 10px;
      width: 560px;
      height: 210px;
      background-color: #333333;
      margin-left: 140px;
      margin-top: 40px;
  }
  
  .ed3-date{
      margin-left: -10px;
  }
  
  .ed3-date svg{
      margin-left: 45px;
      margin-top: 48px;
  }
  
  .ed3-date p{
      color: whitesmoke;
      margin-left: 66px;
      margin-top: -21px;
  }
  
  .ed3-topic{
      color: #afbe5f;
      font-family: 'Roboto', sans-serif;
      margin-top: 20px;
      margin-left: 33px;
  }
  
  .ed3-info{
      color: #818181;
      font-family: 'Montserrat', sans-serif;
      margin-top: 25px;
      margin-left: 33px;
  }
  
  /* 3rd */
  
  /* educatiojn */
  
  /* experince  */
  
  .Experince-title{
      font-size: 30px;
      display:flex;
      align-items: center;
      justify-content: center;
      margin-top: -785px;
      margin-left: 274px;
      color: white;
      font-family: 'Montserrat', sans-serif;
  }
  
  /* 1st */
  
  .ep1{
      float: right;
      border-radius: 10px;
      width: 560px;
      height: 210px;
      background-color: #333333;
      margin-top: 37px;
      margin-right: 119px;
  }
  
  .ep1-date{
      margin-left: -10px;
  }
  
  .ep1-date svg{
      margin-left: 45px;
      margin-top: 48px;
  }
  
  .ep1-date p{
      color: whitesmoke;
      margin-left: 66px;
      margin-top: -21px;
  }
  
  .ep1-topic{
      color: #afbe5f;
      font-family: 'Roboto', sans-serif;
      margin-top: 20px;
      margin-left: 33px;
  }
  
  .ep1-info{
      color: #818181;
      font-family: 'Montserrat', sans-serif;
      margin-top: 25px;
      margin-left: 33px;
  }
  
  /* 1st */
  
  /* 2nd */
  
  .ep2{
      float: right;
      border-radius: 10px;
      width: 560px;
      height: 210px;
      background-color: #333333;
      margin-top: 287px;
      margin-right: -560px;
  }
  
  .ep2-date{
      margin-left: -10px;
  }
  
  .ep2-date svg{
      margin-left: 45px;
      margin-top: 48px;
  }
  
  .ep2-date p{
      color: whitesmoke;
      margin-left: 66px;
      margin-top: -21px;
  }
  
  .ep2-topic{
      color: #afbe5f;
      font-family: 'Roboto', sans-serif;
      margin-top: 20px;
      margin-left: 33px;
  }
  
  .ep2-info{
      color: #818181;
      font-family: 'Montserrat', sans-serif;
      margin-top: 25px;
      margin-left: 33px;
  }
  
  /* 2nd */
  
  /* 3rd */
  
  .ep3{
      float: right;
      border-radius: 10px;
      width: 560px;
      height: 210px;
      background-color: #333333;
      margin-top: 537px;
      margin-right: -560px;
  }
  
  .ep3-date{
      margin-left: -10px;
  }
  
  .ep3-date svg{
      margin-left: 45px;
      margin-top: 48px;
  }
  
  .ep3-date p{
      color: whitesmoke;
      margin-left: 66px;
      margin-top: -21px;
  }
  
  .ep3-topic{
      color: #afbe5f;
      font-family: 'Roboto', sans-serif;
      margin-top: 20px;
      margin-left: 33px;
  }
  
  .ep3-info{
      color: #818181;
      font-family: 'Montserrat', sans-serif;
      margin-top: 25px;
      margin-left: 33px;
  }
  
  /* 3rd */
  
  /* experince */

.about-img img{
    margin-left: 180px;
    width: 650px;
    height: 450px;
}

.aboutme{
    margin-top: 980px;
}

.about{
    font-family: 'Montserrat', sans-serif;
    color: white;
    float: right;
    margin-top: -436px;
    margin-right: 454px;
    font-size: 35px;
}

.me{
    font-size: 40px;
    margin-top: -442px;
    margin-right: 385px;
    color: white;
    float: right;
    font-family: 'AR One Sans', sans-serif;
}

.hello-info{
    font-size: 40px;
    margin-top: -360px;
    margin-right: 464px;
    color: #626262;
    float: right;
}

.info{
    margin-top: -294px;
    margin-right: 174px;
    color: #626262;
    float: right;
}

.info pre{
    line-height: 1.8;
    padding: 3px;
    word-spacing: 10px;
    font-family: 'Montserrat', sans-serif;
}

.hire-me button{
    border-radius: 40px;
    font-family: 'Montserrat', sans-serif;
    margin-top: -35px;
    margin-right: 405px;
    float: right;
    width: 130px;
    height: 37px;
    background-color: #afbe5f;
    border: none;
    font-weight: bolder;   
}

/* my services */

.ser-title{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 170px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
}

.s1{
    border-radius: 10px;
    width: 370px;
    height: 530px;
    background-color: #333333;
    margin-left: 140px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.s1-img{
    margin-top: 55px;
    width: 50px;
    height: 50px;
    padding: 25px;
       
    background-color: #afbe5f;
    border-radius: 80px;
}

.s1-img img{
    width: 50px;
    height: 50px;
}

.s1-info{
    color: #626262;
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    word-spacing: 10px;
    line-height: 1.7;
}

.myservices h3{
    font-size: 25px;
    color:white;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
}

.myservices a{
    text-decoration: none;
    font-family: 'AR One Sans', sans-serif;
    color: #afbe5f;
}

/* skill 1 */

/* skill 2 */



/* skill 2 */

/* skill 3 */



/* skill 3 */

